<%= error_messages_for 'job' %>

<!--[form:job]-->
<p><label for="job_title">Title</label><br/>
<%= text_field 'job', 'title'  %></p>

<p><label for="job_min_salary">Min salary</label><br/>
<%= text_field 'job', 'min_salary'  %></p>

<p><label for="job_max_salary">Max salary</label><br/>
<%= text_field 'job', 'max_salary'  %></p>
<!--[eoform:job]-->

