<%= error_messages_for 'location' %>

<!--[form:location]-->
<p><label for="location_street">Street</label><br/>
<%= text_field 'location', 'street'  %></p>

<p><label for="location_code">Code</label><br/>
<%= text_field 'location', 'code'  %></p>

<p><label for="location_city">City</label><br/>
<%= text_field 'location', 'city'  %></p>
<!--[eoform:location]-->

