#
# $Id$
#

# The following options will be passed to all MySQL clients
[client]
port   = 3306
socket = /tmp/mysql.sock

# Here follows entries for some specific programs
# The MySQL server
[mysqld]
# Skip 
#  -> Engines that we are not going to use
#  -> networking (connection only from localhost allowed
#  -> locking
skip-locking
skip-bdb
skip-ndbcluster
skip-networking
# Default port, socket and connection
port		= 3306
socket		= /tmp/mysql.sock
max_connections = 400

#
# MySQL READ optimisations
#

# The key buffer stores database indexes in memory.
# sum of all indexes
key_buffer = 64M # memory cache of the indexes
max_allowed_packet = 2M
# The table cache tells MySQL how many tables it can have open at any one time. 
# In SQL queries, several tables are typically joined. 
# The rule of thumb is that you should multiply the maximum number of 
# connections by the maximum number of tables used in joins. 
# For example, if the maximum number of connections is set to 400, 
# the table cache should be at least 400 * 10. 
# The configuration setting below shows a table cache of 200 (HUB has 16 tables):
table_cache = 200 # ++
# MySQL sorts results before they are returned.
# This is per connection, so at 400 concurent open connections
# it will take 400*2RAM
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 2M
myisam_sort_buffer_size = 16M

# net_buffer_length = 16K

# Activate query caching
query-cache-type = 1
# Memory globally available for query caches
# It should be incresead for large dataabses
query-cache-size = 64M # ++
# Max size each cached query
# If the query result is larger than the query cache limit, 
# the results will not be cached.
query_cache_limit = 1M

#
# MySQL WRITE optimizations (InnoDB)
#

# Change /wwwdata to where you keep mysql databases
innodb_data_home_dir = /wwwroot/data/
innodb_data_file_path = ibdata1:100M;ibdata2:100M:autoextend
innodb_log_group_home_dir = /wwwroot/data/
innodb_log_arch_dir = /wwwroot/data/
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 128M # ++ (more reads from memory, less I/O)
innodb_additional_mem_pool_size = 16M # ++
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 32M
innodb_log_buffer_size = 4M
innodb_flush_log_at_trx_commit = 0 # change to 1 if you expect server crashes!!!
# innodb_lock_wait_timeout = 50

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
